:root {
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --color-main: #2e2f42;
  --color-menu-link-hover: #404bbf;
  --color-menu-mail-number: #434455;
  --color-main-title: #ffffff;
  --color-hero-button: #ffffff;
  --color-btn-active-portfolio: #ffffff;
  --color-btn-portfolio: #4d5ae5;
  --color-text-subtitle: #434455;
  --color-text-footer: #e7e9fc;
  --color-logo: #2e2f42;
  --color-logo-part1: #4d5ae5;
  --color-logo-footer: #f4f4fd;
  --color-main-backphone: #ffffff;
  --color-backphone-hero-button: #4d5ae5;
  --color-backphone-hero-button-focus: #404bbf;
  --color-backphone-btn-active-portfolio: #f4f4fd;
  --color-backphone-btn-active-portfolio-focus: #404bbf;
  --color-backphone-btn-portfolio: #f4f4fd;
  --color-backphone-hero: #2e2f42;
  --color-backfone-team-list: #f4f4fd;
  --color-backfone-photo-employee: #ffffff;
  --color-backfone-footer: #2e2f42;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: var(--main-font);
  background: var(--color-main-backphone);
  color: var(--color-main);
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.visualli-hiden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*=========Componets==========*/
.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.subtitle-portfolio {
  color: var(--color-main);
}
.text-subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-subtitle);
}
.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: '';
  position: absolute;
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background-color: #404bbf;
  left: 0;
  bottom: 0;
}
/*--------Components--------*/
/*--------Header-----------*/
/* .page-header {
  /* padding-top: 24px;
  padding-bottom: 28px; */
.page-header-portfolio {
  border-bottom: 1px solid #e7e9fc;
}
.logo {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 28px;
}
.logopart1 {
  color: var(--color-logo-part1);
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-main);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 24px;
  padding-bottom: 28px;
}
.menu-link.current {
  color: #404bbf;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--color-menu-link-hover);
}
.mail-text {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-menu-mail-number);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-text:hover,
.mail-text:focus {
  color: var(--color-menu-link-hover);
}
.phone-number {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-menu-mail-number);
}
.page-header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.mail-phone {
  display: flex;
  align-items: center;
}
.contact-menu {
  margin-left: auto;
}
.mail {
  margin-right: 40px;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
/*--------/Header-----------*/
/*--------------Hero----------*/
.hero {
  text-align: center;
  padding: 188px 0;
  max-width: 1440px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg/people-office.jpg);
  background-size: cover;
  background-color: var(--color-backphone-hero);
  margin: 0 auto;
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--color-main-title);
  margin: 0 auto;
  max-width: 494px;
}
.hero-button {
  padding: 16px 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-hero-button);
  background-color: var(--color-backphone-hero-button);
  border-radius: 4px;
  border: none;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-backphone-hero-button-focus);
}
/*--------------/Hero----------*/
/*----------Section2---------*/
.section-qualities {
  padding-top: 120px;
  padding-bottom: 120px;
}
.qualities-icon-list {
  background-color: #f4f4fd;
  border-radius: 4px;
  text-align: center;
  padding: 32px 0px;
  margin-bottom: 8px;
}

.qualities-list {
  display: flex;
  column-gap: 24px;
}
.qualities-list-items {
  flex-basis: calc((100% - 72px) / 4);
}
/*-----------/Section2--------*/
/*-----------Section3---------*/
.work-list {
  padding-bottom: 120px;
}
.list-img-work {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}
.img-what-we-do {
  flex-basis: calc((100% - 48px) / 3);
}
/*-----------/Section3---------*/
/*-----------Section4---------*/
.team-list {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--color-backfone-team-list);
  /* max-width: 1440px; */
  margin: 0 auto;
}
.list-img-employee {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}
.photo-employee {
  flex-basis: calc((100% - 72px) / 4);
  background-color: var(--color-backfone-photo-employee);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.card {
  padding: 32px 16px;
  text-align: center;
}
.list-traling-icons {
  display: flex;
  column-gap: 24px;
  margin-top: 8px;
  align-items: center;
}
.traling-icons-item {
  flex-basis: calc((100% - 72px) / 4);
}
.traling-icons {
  fill: #f4f4fd;
}
.traling-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.traling-icons-link:hover,
.traling-icons-link:focus {
  background-color: #404bbf;
}
/*-----------/Section4---------*/
/*-----------Section5---------*/
.clients {
  padding-top: 130px;
  padding-bottom: 120px;
}
.list-clients-icons {
  display: flex;
  column-gap: 24px;
}
.list-clients-icons-teams {
  width: calc((100%-120px) / 6);
  height: 88px;
}
.clients-icons-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icons {
  fill: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icons-link:hover,
.clients-icons-link:focus {
  border-color: #404bbf;
}
.clients-icons-link:is(:hover, :focus) .clients-icons {
  fill: #404bbf;
}
/*-----------/Section5---------*/
/*--------Potfolio-Section our works-------*/
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.btn-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  margin-bottom: 72px;
}
.btn-portfolio {
  padding: 12px 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-btn-portfolio);
  background-color: var(--color-backphone-btn-active-portfolio);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--color-btn-active-portfolio);
  background-color: var(--color-backphone-btn-active-portfolio-focus);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: #404bbf;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
}
.card-portfolio {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.cards-portfolio-link {
  display: block;
  background-color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-portfolio-link:hover,
.cards-portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-list-img-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  background-color: #4d5ae5;
  left: 0;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  padding-top: 40px;
  padding-bottom: 164px;
  padding-right: 32px;
  padding-left: 32px;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-portfolio-link:hover .overlay,
.cards-portfolio-link:focus .overlay {
  transform: translateY(0%);
}
/*--------Footer------------*/
.part-footer {
  background-color: var(--color-backfone-footer);
  padding: 100px 0;
  margin: 0 auto;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.logofooter {
  line-height: 1.17;
  color: var(--color-logo-footer);
}
.logopart1footer {
  line-height: 1.17;
}
.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-footer);
  margin-top: 16px;
  max-width: 264px;
}
.text-footer-1 {
  margin-top: 0px;
  margin-bottom: 16px;
}
.list-traling-icons-footer {
  display: flex;
  column-gap: 16px;
}
.link-traling-icons-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-traling-icons-teams-footer {
  flex-basis: calc((100% - 48px) / 4);
}
.footer {
  margin-right: 120px;
}
.icons-footer {
  fill: #f4f4fd;
}
.link-traling-icons-footer:hover,
.link-traling-icons-footer:focus {
  background-color: #31d0aa;
}
.subscribe-footer {
  margin-left: 80px;
}
.modal-footer {
  display: flex;
  gap:24px;
}
.email-footer {
width: 264px;
height: 40px;
border: 1px solid rgba(255, 255, 255, 0.3);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-weight: 400;
font-size: 12px;
line-height: 2;
color: rgba(255, 255, 255, 0.6);
padding-left: 16px;
padding-top: 8px;
padding-bottom: 8px;
background-color:var(--color-backfone-footer);
}
.footer-button {
  display: flex; 
  padding: 8px 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-hero-button);
  background-color: var(--color-backphone-hero-button);
  border-radius: 4px;
  border: none;
  width: 165px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: space-between;
 }
 .footer-button:hover,
 .footer-button:focus {
  background-color: var(--color-backphone-hero-button-focus);
 } 
.modal-footer-icon {
  fill: #FFFFFF;
}
/*--------/Footer------------*/
/*--------Modal-window------------*/
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 24px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  padding: 0;
  margin-bottom: 24px;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:is(:hover, :focus) {
  background-color: #404BBF;
  fill:#FFFFFF;
}
.modal-title {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #2E2F42;
text-align: center;
margin-bottom: 24px;
}
.modal-input {
Width: 100%;
Height: 40px;
border-radius: 4px;
border:  1px solid rgba(33, 33, 33, 0.2);
font-weight: 400;
font-size: 12px;
line-height: 1.33;
color: rgba(117, 117, 117, 0.5);
padding-left: 38px;
outline: transparent;
letter-spacing: 0.04em;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus
{
border-color: #4D5AE5;
}
.modal-input:focus + .modal-input-icon {
fill: #4D5AE5;
}
.modal-input-comment {
  Height: 120px;
  padding-left: 16px;
  padding-top: 8px;
  resize: none;
} 
.modal-field {
  margin-bottom: 8px;
}
.input-wrap {
  position: relative;
}
.modal-input-icon {
  position: absolute;
  left:16px;
  top: 50%;
  transform: translateY(-50%);
}
.label-text span {
font-weight: 400;
font-size: 12px;
line-height: 1.33;
color: #8E8F99;
letter-spacing: 0.01em;
margin-bottom: 4px;
display: block;
}
.modal-button {
 margin-right: auto;
 margin-left: auto;
 display: block;
  padding: 16px 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-hero-button);
  background-color: var(--color-backphone-hero-button);
  border-radius: 4px;
  border: none;
  width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--color-backphone-hero-button-focus);
} 
.text-accept {
font-weight: 400;
font-size: 12px;
line-height: 1.33;
letter-spacing: 0.04em;
color: #757575;
display: flex;
margin-bottom: 24px;
}
.text-accept span {
display: flex;
align-items: center;
justify-content: center;
width: 16px;
height: 16px;
border: 1.25px solid #2E2F42;
border-radius: 2px;
margin-right: 8px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
/* fill: transparent; */
}
.policy-icon {
  fill: #F4F4FD;
}
.privacy {
  color:  #4d5ae5;
}
.modal-input-icon {
  fill:#2E2F42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.modal-accept {
  margin-top: 16px;
  margin-bottom: 24px;
}
.modal-check:checked + .text-accept span{
  background-color:  #404BBF;
  border-color: #404bbf;
}
/*--------/Modal-window------------*/
